@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lambency';
    src: url('/LambencyRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Cutive';
    src: url('/CutiveRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Copperplate';
    src: url('/Copperplate.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }